$highlightcolor:#14A0C7;
$buttoncolor:#699900;
$section_cardBackground:#21232E; 
$headerBackground: url(../img/m-h-day.jpg) no-repeat center;
$bodyBackground:#FFFF;
$rightgradient:#65950B;
$leftgradient:#2D5BDA;
$footerBackgroun:#21232E;
$color_header_title:#2C2F3C;
$color_text:#C0C3CE;
$font_weights: ("semi-bold": 600, "medium": 500, "bold": 700);
$font_text:'Hind',sans-serif;