$highlightcolor:#FF4E33;
$buttoncolor:#E3AC00;
$section_cardBackground:#3B3F50;
$headerBackground: url(../img/m-h-night.jpg) center no-repeat ;
$bodyBackground:#21232E;
$rightgradient:#DDA305;
$leftgradient:#922B53;
$footerBackgroun:#3B3F50;
$color_header_title:#FFF;
$color_text:#CCCACD;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);